<div>
  <svg [attr.viewBox]="'0 0 ' + w + ' ' + h" class="chart">
    @for (g of gridLines; track g.v) {
      <g>
        <line [attr.x1]="padL" [attr.x2]="w - padR" [attr.y1]="g.y" [attr.y2]="g.y" stroke="#EFE6D8" stroke-dasharray="3 3"/>
        <text [attr.x]="padL - 8" [attr.y]="g.y + 3" text-anchor="end" font-size="10" class="mono" fill="#9C928A">{{ g.v }}kg</text>
      </g>
    }
    @for (lbl of xLabels; track lbl.text; let i = $index) {
      <text [attr.x]="x(i)" [attr.y]="h - 8" text-anchor="middle" font-size="10" fill="#9C928A">{{ lbl.text }}</text>
    }
    @for (lift of lifts; track lift.name; let i = $index) {
      <g>
        <path [attr.d]="lift.path" [attr.stroke]="colors[i]" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round"/>
        @for (p of lift.points; track $index) {
          <circle [attr.cx]="p.cx" [attr.cy]="p.cy" [attr.r]="p.r" [attr.fill]="colors[i]"/>
        }
      </g>
    }
  </svg>
  <div class="legend">
    @for (lift of lifts; track lift.name; let i = $index) {
      <div class="row">
        <span class="dot" [style.background]="colors[i]"></span>
        <span class="name">{{ lift.name }}</span>
        <span class="sets mono">{{ lift.sets }}</span>
        <span class="cur mono">{{ lift.current }}kg</span>
        <span class="delta mono">+{{ lift.delta }}</span>
      </div>
    }
  </div>
</div>
