<aside class="side">
  <div class="brand">
    <div class="logo"><div class="dot"></div></div>
    <div>
      <div class="name serif">Orbe</div>
    </div>
  </div>

  <nav class="nav">
    @for (item of items; track item.path) {
      <a class="item"
         [routerLink]="item.path"
         routerLinkActive="active">
        <span class="icon">{{ item.icon }}</span>
        {{ item.label }}
      </a>
    }
  </nav>

  <div class="spacer"></div>

  @if (name()) {
    <div class="user">
      @if (avatarUrl(); as url) {
        <img class="avatar" [src]="url" [alt]="name()" referrerpolicy="no-referrer" />
      } @else {
        <div class="avatar">{{ initials() }}</div>
      }
      <div class="who">
        <div class="n">{{ name() }}</div>
        @if (email(); as mail) { <div class="p" [title]="mail">{{ mail }}</div> }
      </div>
    </div>
  }
</aside>
